<!DOCTYPE html>
<html lang="es">
	<head>
	    <title>Mi portafolio online</title>
	    <meta charset="UTF-8">
	    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" rel="stylesheet" type="text/css">	
	    <link rel="stylesheet" href="/stylesheets/normalize.css">
	    <link rel="stylesheet" href="/stylesheets/estilos.css">
	</head>
	<body>
		<header id="yo" class="Header">
		    <nav class="MainMenu">
		        <ul class="MainMenu-list">
		            <li class="MainMenu-item">
		                <a class="MainMenu-link MainMenu-active" href="#yo">YO</a>
		            </li>
		            <li class="MainMenu-item">
		                <a class="MainMenu-link" href="#perfil">Perfil</a>
		            </li>
                     <li class="MainMenu-item">
                        <a class="MainMenu-link" href="#estudio">Estudios</a>
                    </li>
		            <li class="MainMenu-item">
		                <a class="MainMenu-link" href="#trabajo">Mi trabajo</a>
		            </li>
		            <li class="MainMenu-item">
		                <a class="MainMenu-link" href="#contacto">Contáctame</a>
		            </li>
		        </ul>
		    </nav>
		    <figure class="Header-imageContainer">                 
		        <img src="/images/avatar.jpg" width="200"  alt="@GirLenin" class="Header-image" >                          
		        <div class="Header-description">
		            <figcaption><a href="http://twitter.com/GirLenin/" class="Header-link" target="_blank" >@GirLenin</a></figcaption>
		            <p class="Header-name">Lenin Ricardo Girón Manuel</p>   
		            <p class="Header-job">BackEnd - FrontEnd Web Developer</p>                  
		        </div>  		       
		        <h2 class="Header-phrase"> Aprender es como remar contra corriente, si no se hace se retrocede. </h2>  
		    </figure>
		</header>
		<section id="perfil" class="Profile">
            <div class="u-containerDefault"> 
                <h2 class="Profile-title u-title">Mi Perfil</h2>
                
                <p> Cuento con mas de dos años experiencia, en el área de desarrollo de software y diseño de portales web. He participado como consultor .NET y PHP  en varios proyectos para el grupo Xquenda Du. <p>

                <p>Siempre en busca de nuevos retos, y con la motivación para aprender algo nuevo cada día, alumno  activo en Mejorando.la, <strong class="u-textBlue">Buscando ser un profesional de la web.</strong></p>                       
                <div class="Profile-skills">              
                    <p class="u-textNotBottom"><strong>Front-End development </strong></p>
                    <p>HTML5, CSS3, JavaScript, Stylus, ajax, json, Twitter Bootstrap, Foundation, jquery, Backbone (básico), Node.js (básico).</p>
                    
                </div>      
                <div class="Profile-skills">                    
                    <p class="u-textNotBottom"><strong>Back-End developmentn</strong></p>
                    <p> PHP-Laravel Framework, .NET, C#, VisualBasic, Python, Java, JavaScript.</p>                                    
                </div>     
                <div class="Profile-skills">                    
                   <p class="u-textNotBottom"><strong>Bases de Datos</strong></p>
                   <p>MySQL, Oracle, Microsoft© SQL Server </p>                                                    
                </div>  
                   <div class="Profile-skills">                    
                   <p class="u-textNotBottom"><strong>Herramientas de control de versiones</strong></p>               
                   <p>Git / GitHub / Bitbucket </p>                                                    
                </div>       
                <div class="Profile-skills">                    
                   <p class="u-textNotBottom"><strong>Sistemas Operativos</strong></p>
                   <p>Linux (Ubuntu, OS Elementary), Windows 2003 server, Windows XP, Windows 7</p>                                                   
                </div>  
                   <div class="Profile-skills">                    
                   <p  class="u-textNotBottom"><strong>Otras Utilerías</strong></p>               
                   <p>WampServer, XAMPP, MS Excel, Ms Word, Ms Powerpoint, MS Outlook, Photoshop.</p>                                                    
                </div>                                                                        
            </div>
        </section>
        <section id="estudio" class="Study">
            <div class="u-containerDefault"> 
                <h2 class="Profile-title u-title">Estudios</h2>                                                                
            </div>
        </section>
        <section id="trabajo" class="Work">
            <div class="u-containerDefault"> 
                <h2 class="Work-title u-title">Mi Trabajo</h2>
            </div>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                         <a class="" href="http://www.institutojeromebruner.edu.mx/" target="_blank">
                        	 <img class="Work-image" src="/images/jerome.png" alt=""  width="320" height="245">
                     	 </a>
                     	<figcaption class="Work-description">Instituto Pedagógico Jerome Bruner</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                    	 <a class="" href="http://difamservicios.com/" target="_blank">
                      	    <img class="Work-image" src="/images/difam.png" alt=""  width="320" height="245">
                      	 </a>
                        <figcaption class="Work-description">Difam servicios</figcaption>
                    </figure>
                </article>   
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                         <a class="" href="http://www.institutojeromebruner.edu.mx/" target="_blank">
                             <img class="Work-image" src="/images/jerome.png" alt=""  width="320" height="245">
                         </a>
                        <figcaption class="Work-description">Instituto Pedagógico Jerome Bruner</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                         <a class="" href="http://difamservicios.com/" target="_blank">
                            <img class="Work-image" src="/images/difam.png" alt=""  width="320" height="245">
                         </a>
                        <figcaption class="Work-description">Difam servicios</figcaption>
                    </figure>
                </article>        
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                         <a class="" href="http://www.institutojeromebruner.edu.mx/" target="_blank">
                             <img class="Work-image" src="/images/jerome.png" alt=""  width="320" height="245">
                         </a>
                        <figcaption class="Work-description">Instituto Pedagógico Jerome Bruner</figcaption>
                    </figure>
                </article>
                <article class="Work-item">
                    <figure class="Work-imageContainer">
                         <a class="" href="http://difamservicios.com/" target="_blank">
                            <img class="Work-image" src="/images/difam.png" alt=""  width="320" height="245">
                         </a>
                        <figcaption class="Work-description">Difam servicios</figcaption>
                    </figure>
                </article>                              
        </section>
        <footer id="contacto" class="Footer">
            <div class="Footer-left">
                <h3 class="Footer-title ">Contacto</h3>
                <p> Información de contacto.</p>
                <p class="u-notMargin"><span class="icon-mail"></span> ing.leningir@gmail.com</p>
                <p class="u-notMargin"><span class="icon-skype"></span> leningir</p>
                <p class="Footer-description">Si quieres contratarme puedes escribirme en este pequeño formulario.</p>
            </div>
            <form action="" class="Footer-form">
                <input type="text" placeholder="Nombre" class="Footer-input">
                <input type="email" placeholder="Email" class="Footer-input">
                <textarea placeholder="Motivo" class="Footer-textarea"></textarea>
                <button type="submit" class="Footer-button">Contactarme</button>
            </form>
        </footer>    

        <!-- JQuery -->
        <script src="/javascripts/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/index.js"></script>
	</body>
</html>