/* Iconos */

@font-face {
    font-family: 'icomoon';
    src:url('../fuentes/icomoon.eot?-7he7yu');
    src:url('../fuentes/icomoon.eot?#iefix-7he7yu') format('embedded-opentype'),
        url('../fuentes/icomoon.woff?-7he7yu') format('woff'),
        url('../fuentes/icomoon.ttf?-7he7yu') format('truetype'),
        url('../fuentes/icomoon.svg?-7he7yu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-screen:before {
    content: "\e600";   
    font-size: 2.5em;
}

.icon-googleplus:before {
    content: "\e601";
    font-size: 1.1em;
}
.icon-facebook:before {
    content: "\e602";
    font-size: 1em;
}
.icon-twitter:before {
    content: "\e603";
    font-size: 1em;

}
.icon-skype:before {
    content: "\e605";   
    font-size: 1em;
}
.icon-linkedin:before {
    content: "\e604";
    font-size: 1em;
}
.icon-mail:before {
    content: "\e606";
    font-size: 1em;    
}


/* Utilidades */
.u-title{
    border-bottom: 2px dashed #07749f;
    color: #07749f;
    font-weight: 400;
    padding-bottom: .5em;
    text-align: center;
}
.u-notDisplay{
    display: none;
}
.u-alert{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.u-alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.u-textNotBottom{
     margin-bottom:0px; 
}
.u-notMargin{
    margin: 0;
}
.u-textBlue{
    color: #008cba;
}
.u-textGreen{
    color: #079a9f;
}
.u-containerDefault{
    width: 55em;
    margin: 0 auto;
}

.u-facebook{
    background: #3b5998;
}
.u-linkedin{
    background: #069;
}
.u-twitter{
    background: #2290bf;
}
.u-googleplus{
    background: #f00;
}

.u-left{
    float: left;
}

p{
    line-height: 26px;
    text-align: left;
}


/* Componentes */

/* MainMenu */
.MainMenu{
   /* background:#22282e ;*/
    background: #07749f;
    height: 3.7em;
    left:0;
    position: fixed;
    right: 0;
    text-align: center;
    top:0;
}
.MainMenu a:hover {
    
}

.MainMenu-list{
    margin:0;
    padding: 0;
}

.MainMenu-item{
    display: inline-block;  
}

.MainMenu-link{
    color: white;
    font-size: 1.1em;
    line-height: 60px;
    margin: 0 1.25em;
    text-decoration: none;
    text-transform: uppercase;
}

.MainMenu-active{
    text-decoration: line-through !important;
}


/* Estilos #nav-mobile y lo ocultamos */
#MainMenu-mobile{
    display: none;
    background: url(../images/nav.png) no-repeat center center;
    float: right;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top:0;
    opacity: .6;
}
 
/* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
#MainMenu-mobile.nav-active{
        opacity: 1;
}

/* Header */
.Header{    
    margin-top: 3.75em;
    padding-top: 1em;
    text-align: center;
}

.Header-image{
    border:5px solid white;
    border-radius: 50%;    
    display: inline-block;
}
.Header-imageLinux
{        
    display: inline-block;
    margin-left: 1em;
    margin-top: 1.5em;
    vertical-align: top;
}

.Header-description{
    display: inline-block;
    vertical-align: top;
    margin-top:3em; 
    margin-left: 1em;
}

.Header-link,
.Header-name{
    color: #414141;
}

.Header-link{
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.Header-name{
    font-size: 1.5em;
    font-weight: 300;   
    margin:0;     
}

.Header-job{ 
    display: inline-block;
    font-size: 1em;
    padding: 5px 8px;
    font-weight: 600; 
    color: white;
    background: #079a9f;
}

.Header-phrase{   
    font-size: 1.2em;
    font-weight: 300;
}
.Header-imageContainer{

}
/* Profile */

.Profile{
    text-align: center;
}

.Profile-link{   
    border-radius: 1.5em;
    color: white;
    padding: .5em 1em;
    text-decoration: none;
    margin-right: .5em;
    display: inline-block;
}

.Profile-networks{
    margin-bottom: 1em;
}

.Profile-skills{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.Profile-description{
    margin-bottom: 1em;
}

/* Work */
.Work{
    text-align: center;
}

.Work-item{
    display: inline-block;  
}

.Work-imageContainer{
    margin: 0 1em 1em 0; 
}
.Work-image{
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 5px;
    width: 320px; 
    height: 245px;
}
.Work-Container{
    width: 70em;
    margin: 0 auto;
}

a .Work-image:hover{
    border-color: #00adad;
    text-decoration: none;
    cursor: pointer;
}

.Work-description{
    color: #515151;
    font-size: 1.1em;
    font-style: italic;
}

/* Footer */

.Footer{
    background: #a4bcc2;
    text-align: center;
    padding: 2em 0;
}

.Footer-left{
    color: #515151;
    width: 40%;
    display:  inline-block;
    vertical-align: top;    
}
.Footer-form{
    padding: 2em;
    width: 18em;
    display:  inline-block;
    vertical-align: top;
}

.Footer-title{
    color: black;
    font-weight: 400;
}

.Footer-textarea,
.Footer-input{
    background: white;
    border: none;
    display: block;
    width: 17em;    
    padding: .6em;
    outline: 0;
    margin: 0 auto .8em;
}

.Footer-button{
    background: #01b5ff;
    border: none;
    color: white;
    padding: .5em;
}}

@media screen and (max-width: 350px){  
    .Footer-textarea,
    .Footer-input
    {
        width: 13em;    
    }


}

@media screen and (max-width: 400px){
    .Footer-form
    {
        padding: 0;
    }

    .Footer-textarea,
    .Footer-input
    {
        width: 15em;    
    }
    .Work-image
    { 
        width: 270px; 
        height: 225px;
    }

}
@media screen and (max-width: 600px){

   figure {
        margin: 1em 10px;
    }
    .Footer-left{
        width: 85%;
    }       
    .Header-name{
        font-size: 1.3em;      
    } 
    .Header-job{    
        padding: .3em .5em;   
    }
    .Header-description{
        margin-top: 1em;
    }
    
}
@media screen and (max-width: 850px){

    .u-containerDefault{
        width: 90%;     
    }

    #MainMenu-mobile{ 
        display: block; 
    }
 
    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo */
    #MainMenu{
        width: 100%;
        float: none;       
    }
    .MainMenu-item{
        display: block;  
        background: #07749f;
        border-bottom: 1px solid #06668c;
    }
    .MainMenu-list{
        box-shadow: 0 1px 2px rgba(0,0,0,.5);
        max-height: 0;
        overflow: hidden;
    }
    
    #MainMenu li:last-child{ 
        border-bottom: 0;
    }
           
    #MainMenu .MainMenu-item:hover{
        background:#06668c;
    }
 
    #MainMenu ul.open-menu{
        max-height: 400px;
        transition: max-height .4s;
    }
}

@media screen and (max-width: 1100px) {
    .Work-Container
    {
        width: 100%;     
    }

}
